### Bangalore House price prediction

In [93]:
#import libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Step:1: Import Data:

In [94]:
#Read CSV files:

df = pd.read_csv("Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [96]:
df.area_type.value_counts()

#Alternative:
#df.groupby('society')['society'].agg("count")
#pd.api.types.is_categorical_dtype(df.size)
#df.head()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [97]:
df['availability'].value_counts().index

Index(['Ready To Move', '18-Dec', '18-May', '18-Apr', '18-Aug', '19-Dec',
       '18-Jul', '18-Mar', '18-Jun', '20-Dec', '21-Dec', '19-Mar', '18-Feb',
       '18-Nov', '18-Jan', '18-Sep', '19-Jun', '18-Oct', '19-Jan', '19-Jul',
       '17-Dec', '20-Jan', '17-Oct', '19-Sep', '22-Jun', '19-Aug', '21-Jun',
       '19-Apr', 'Immediate Possession', '20-Aug', '19-Oct', '21-Mar',
       '17-Jun', '21-May', '17-Jul', '17-Nov', '21-Jan', '22-Dec', '20-Jun',
       '17-Sep', '22-May', '19-May', '17-Aug', '21-Jul', '17-May', '20-Oct',
       '19-Nov', '17-Apr', '21-Feb', '20-Sep', '21-Oct', '22-Jan', '21-Sep',
       '21-Aug', '20-Jul', '17-Mar', '20-Nov', '16-Dec', '20-Apr', '20-May',
       '21-Nov', '16-Mar', '22-Mar', '19-Feb', '20-Mar', '22-Nov', '16-Sep',
       '15-Oct', '17-Feb', '15-Nov', '20-Feb', '15-Jun', '16-Jul', '14-Nov',
       '15-Dec', '16-Oct', '15-Aug', '17-Jan', '16-Nov', '16-Jan', '14-Jul'],
      dtype='object')

In [98]:
df.location.value_counts()[:40]

Whitefield                  540
Sarjapur  Road              399
Electronic City             302
Kanakpura Road              273
Thanisandra                 234
Yelahanka                   213
Uttarahalli                 186
Hebbal                      177
Marathahalli                175
Raja Rajeshwari Nagar       171
Bannerghatta Road           152
Hennur Road                 152
7th Phase JP Nagar          149
Haralur Road                142
Electronic City Phase II    132
Rajaji Nagar                107
Chandapura                  100
Bellandur                    96
KR Puram                     91
Electronics City Phase 1     88
Hoodi                        88
Yeshwanthpur                 85
Begur Road                   84
Sarjapur                     82
Kasavanhalli                 80
Harlur                       79
Banashankari                 75
Hormavu                      74
Ramamurthy Nagar             73
Kengeri                      73
JP Nagar                     72
Hosa Road                    72
Koramangala                  72
Jakkur                       71
Old Madras Road              71
Varthur                      70
Kothanur                     66
Kaggadasapura                64
Nagarbhavi                   63
Thigalarapalya               62
Name: location, dtype: int64

In [103]:

# df["size"].unique()
df['size'] = df['size'].astype(str)
df['BHK'] = df["size"].apply(lambda x: str(x.split(" ")[0]))

In [105]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,2

In [108]:
df['society'].value_counts()[:30]

GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
Prtanha    51
Bhmesy     51
Prityel    50
PrityTr    49
Prarkun    49
Dhalsh     47
IBityin    45
SNity S    40
Soresea    39
Adeatlm    37
Soitya     36
Rosha I    35
Bhe 2ko    35
SunceEs    34
SNnia E    33
JRrnauv    30
MenueNo    29
Prlla C    28
PuandHi    28
RothaVa    27
Prncyrn    27
GoAirej    26
Aklia R    26
Raard B    26
PhestOn    26
Name: society, dtype: int64

In [123]:
df['total_sqft'].sample(40)

12076            800
9300            1075
12703           1200
11353           1225
10253           1680
9804            8000
6942            1200
7823            2830
12831           1000
9633            1080
915             1250
3366            1697
1800            1699
11184           1200
3664            2000
3647            1350
12132           1708
7359            1200
10106           1400
11635           1320
3910            1513
10552           1200
5968            1240
11422           1732
1906             950
11326           1340
9449            2640
2811            1610
6535            1240
5282            1260
2186            1800
6012             600
10662           1717
6056     1180 - 1630
7435            1200
3898            1080
9092            1067
13262           1140
4797            1145
700             1125
Name: total_sqft, dtype: object